.u-block-b11c-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-b11c-3 {
  position: absolute;
  left: 0;
}

.u-block-b11c-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/webpc-passthru.webp");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 837px;
}

.u-section-1-1 .u-text-1 {
  font-weight: 700;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  margin: 401px 597px 0 0;
}

.u-section-1-1 .u-text-2 {
  font-size: 3.75rem;
  text-shadow: 5px 2px 15px rgba(0,0,0,1);
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 8px auto 0 0;
}

.u-section-1-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 60px 0;
  padding: 10px 46px 10px 45px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 397px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-text-1 {
    margin-right: 177px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-text-2 {
    font-size: 2.75rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 983px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 826px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 27px 80px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0);
  margin: 12px -82px 0 1px;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: 20px 12px 0 1px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 826px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-2 .u-image-1 {
  width: 416px;
  height: 622px;
  margin: 0 auto 0 27px;
}

.u-section-2 .u-layout-wrap-2 {
  width: 646px;
  margin: -403px auto 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 145px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 3px 15px;
}

.u-section-2 .u-shape-1 {
  width: 101px;
  height: 101px;
  margin: 11px auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 65px;
  height: 65px;
  margin: -87px auto 0 20px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 145px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 0 4px;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 7px auto 0 1px;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  margin: 1px 12px 0 2px;
}

.u-section-2 .u-layout-wrap-3 {
  width: 646px;
  margin: 8px auto 0 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 128px;
}

.u-section-2 .u-container-layout-5 {
  padding: 1px;
}

.u-section-2 .u-shape-2 {
  width: 104px;
  height: 101px;
  margin: 10px auto 0 0;
}

.u-section-2 .u-image-3 {
  width: 63px;
  height: 63px;
  margin: -80px auto 0 22px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 128px;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 0 15px;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 16px auto 0 1px;
}

.u-section-2 .u-text-7 {
  font-size: 1rem;
  margin: 6px 15px 0 1px;
}

.u-section-2 .u-layout-wrap-4 {
  width: 646px;
  margin: 12px auto 0 0;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 114px;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 0 4px;
}

.u-section-2 .u-shape-3 {
  width: 104px;
  height: 101px;
  margin: 8px auto 0 2px;
}

.u-section-2 .u-image-4 {
  width: 63px;
  height: 63px;
  margin: -80px auto 0 22px;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 114px;
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 21px auto 0 0;
}

.u-section-2 .u-text-9 {
  font-size: 1rem;
  margin: 3px 55px 0 2px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 47px auto 34px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 940px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 18px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 318px;
  }

  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 588px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-2 .u-image-1 {
    width: 401px;
    height: 492px;
    margin-top: 7px;
    margin-right: 20px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 511px;
    margin-top: -564px;
  }

  .u-section-2 .u-layout-wrap-3 {
    width: 519px;
    margin-top: -5px;
  }

  .u-section-2 .u-layout-wrap-4 {
    width: 519px;
    margin-top: 9px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 31px;
    margin-bottom: 58px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1026px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 10px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 427px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 578px;
  }

  .u-section-2 .u-image-1 {
    width: 222px;
    height: 325px;
    margin-top: 247px;
    margin-right: 25px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: -568px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 131px;
  }

  .u-section-2 .u-shape-1 {
    width: 96px;
    height: 96px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -82px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 131px;
  }

  .u-section-2 .u-layout-wrap-3 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 131px;
  }

  .u-section-2 .u-shape-2 {
    width: 102px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 131px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 14px;
  }

  .u-section-2 .u-layout-wrap-4 {
    width: 595px;
    margin-top: 8px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 127px;
  }

  .u-section-2 .u-shape-3 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 127px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 27px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1261px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 318px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 610px;
  }

  .u-section-2 .u-image-1 {
    width: 299px;
    height: 334px;
    margin-top: 443px;
    margin-right: 29px;
    margin-bottom: -167px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: -600px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 140px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 140px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-2 .u-layout-wrap-3 {
    margin-top: 6px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 111px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 111px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 13px;
  }

  .u-section-2 .u-layout-wrap-4 {
    margin-top: 22px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 128px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: 0;
  }

  .u-section-2 .u-image-4 {
    margin-top: -72px;
    margin-left: 106px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 128px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 55px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1796px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 762px;
  }

  .u-section-2 .u-image-1 {
    width: 321px;
    height: 486px;
    margin: 730px auto -454px -1px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: -744px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 106px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 61px;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: -87px;
    margin-left: 19px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-3 {
    margin-top: -1px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 70px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 0;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-4 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 178px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: 10px;
    margin-left: -12px;
    margin-right: -12px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -82px;
    margin-left: 8px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 27px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 341px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0);
  margin: 20px 0 0 20px;
}

.u-section-3 .u-line-1 {
  width: 597px;
  transform-origin: left center 0px;
  margin: 9px auto 0 264px;
}

.u-section-3 .u-list-1 {
  margin-top: 9px;
  margin-bottom: 20px;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
  min-height: 224px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-image-1 {
  width: 70px;
  height: 70px;
  margin: 37px 68px 0 62px;
}

.u-section-3 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-image-2 {
  width: 70px;
  height: 70px;
  margin: 37px 68px 0 62px;
}

.u-section-3 .u-text-3 {
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-image-3 {
  width: 70px;
  height: 70px;
  margin: 37px 68px 0 62px;
}

.u-section-3 .u-text-4 {
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-image-4 {
  width: 70px;
  height: 70px;
  margin: 37px 68px 0 62px;
}

.u-section-3 .u-text-5 {
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px;
}

.u-section-3 .u-image-5 {
  width: 70px;
  height: 70px;
  margin: 37px 68px 0 62px;
}

.u-section-3 .u-text-6 {
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 183px;
  }

  .u-section-3 .u-image-1 {
    margin-right: auto;
    margin-left: 38px;
  }

  .u-section-3 .u-image-2 {
    margin-right: auto;
    margin-left: 38px;
  }

  .u-section-3 .u-image-3 {
    margin-right: auto;
    margin-left: 38px;
  }

  .u-section-3 .u-image-4 {
    margin-right: auto;
    margin-left: 38px;
  }

  .u-section-3 .u-image-5 {
    margin-right: auto;
    margin-left: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-line-1 {
    margin-left: 123px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 484px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 21px;
  }

  .u-section-3 .u-line-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 21px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 367px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-3 .u-image-5 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 634px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 30px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 544px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-shape-1 {
  width: 357px;
  height: 357px;
  margin: 95px auto 0 58px;
}

.u-section-4 .u-image-1 {
  width: 360px;
  height: 360px;
  margin: -401px 61px 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 544px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0 13px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0);
  margin: 21px -121px 0 21px;
}

.u-section-4 .u-line-1 {
  width: 502px;
  margin: 2px auto 0 21px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  margin: 9px 199px 0 23px;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  margin: 16px 23px 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  width: 491px;
  margin: 15px auto 0 22px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 181px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-4 .u-text-4 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 92px 0 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 9px 58px 0 3px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-4 .u-text-6 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 92px 0 0;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  margin: 9px 58px 0 3px;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  border-style: solid;
  margin: 0 auto 0 29px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 534px;
  }

  .u-section-4 .u-shape-1 {
    height: 291px;
    margin-top: 169px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -409px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 534px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-line-1 {
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 112px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-list-1 {
    margin-left: -2px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 565px;
  }

  .u-section-4 .u-shape-1 {
    width: 324px;
    margin-top: 49px;
    margin-left: 46px;
  }

  .u-section-4 .u-image-1 {
    width: 459px;
    height: 459px;
    margin-top: -256px;
    margin-right: auto;
    margin-left: 112px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-line-1 {
    width: 396px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-list-1 {
    width: 396px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 883px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 573px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 81px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 459px;
  }

  .u-section-4 .u-shape-1 {
    margin-left: 16px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-line-1 {
    width: 340px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/back.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 402px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  margin: 78px 162px 0 0;
}

.u-section-5 .u-slider-1 {
  min-height: 396px;
  width: 717px;
  height: auto;
  margin: -107px 0 0 auto;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 80px 30px 35px;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  margin: 91px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 12px 411px 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 80px 30px 35px;
}

.u-section-5 .u-text-4 {
  font-size: 1.125rem;
  margin: 91px 0 0;
}

.u-section-5 .u-text-5 {
  margin: 12px 411px 0 0;
}

.u-section-5 .u-carousel-control-1 {
  width: 35px;
  height: 35px;
  left: calc(((100% - 1140px) / 2)  + 244px);
  top: auto;
  bottom: 13px;
  position: absolute;
}

.u-section-5 .u-carousel-control-2 {
  width: 35px;
  height: 35px;
  left: 67px;
  top: auto;
  position: absolute;
  right: auto;
  bottom: 13px;
}

.u-section-5 .u-text-6 {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0);
  margin: -271px 765px 0 0;
}

.u-section-5 .u-icon-1 {
  height: 139px;
  width: 139px;
  margin: -53px auto 60px 123px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-slider-1 {
    width: 635px;
    margin-top: -112px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 211px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 211px;
  }

  .u-section-5 .u-carousel-control-1 {
    left: calc(((100% - 940px) / 2)  + 201px);
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: -266px;
    margin-right: 635px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -111px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 35px;
  }

  .u-section-5 .u-slider-1 {
    min-height: 414px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 46px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 46px;
  }

  .u-section-5 .u-carousel-control-1 {
    left: 32px;
    right: auto;
    bottom: 12px;
  }

  .u-section-5 .u-text-6 {
    margin-top: -415px;
    margin-right: 141px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -151px;
    margin-left: 179px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-5 .u-slider-1 {
    margin-top: -54px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }

  .u-section-5 .u-carousel-control-1 {
    left: calc(((100% - 540px) / 2)  + 13px);
    bottom: 42px;
  }

  .u-section-5 .u-carousel-control-2 {
    left: 48px;
    bottom: 42px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.875rem;
    margin-top: -341px;
    margin-right: 0;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -126px;
    margin-right: 187px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-5 .u-slider-1 {
    min-height: 480px;
    margin-top: -43px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-carousel-control-1 {
    left: auto;
    right: 55px;
    bottom: 12px;
  }

  .u-section-5 .u-carousel-control-2 {
    left: calc(((100% - 340px) / 2)  + 285px);
    bottom: 12px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.5rem;
    margin-top: -425px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -84px;
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 574px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  margin: 43px 162px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0);
  margin: 17px 603px 0 0;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -74px 81px 0 auto;
}

.u-section-6 .u-gallery-1 {
  height: 338px;
  width: 1595px;
  margin: 40px -455px 17px auto;
}

.u-section-6 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-6 .u-back-image-1 {
  width: 302px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-6 .u-back-image-2 {
  width: 302px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-6 .u-back-image-3 {
  width: 302px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-6 .u-back-image-4 {
  width: 302px;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 403px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-6 .u-gallery-1 {
    width: 940px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-2 {
    margin-right: 183px;
  }

  .u-section-6 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
    margin-right: 3px;
  }

  .u-section-6 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 372px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-gallery-1 {
    width: 340px;
    margin-top: -405px;
    margin-bottom: 60px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 610px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 46px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 500px;
}

.u-section-7 .u-container-layout-1 {
  padding: 13px 0;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0);
  margin: 0 245px 0 0;
}

.u-section-7 .u-list-1 {
  margin-top: 22px;
  margin-bottom: 0;
}

.u-section-7 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 158px;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px 10px 0;
}

.u-section-7 .u-image-1 {
  width: 67px;
  height: 67px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1rem;
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 10px 10px 0;
}

.u-section-7 .u-image-2 {
  width: 67px;
  height: 67px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 10px 10px 0;
}

.u-section-7 .u-image-3 {
  width: 67px;
  height: 67px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-4 {
  font-size: 1rem;
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-7 .u-text-5 {
  font-size: 1rem;
  margin: 0;
}

.u-section-7 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 22px auto 0 0;
  padding: 8px 29px;
}

.u-section-7 .u-image-4 {
  min-height: 500px;
  background-image: url("images/WhatsAppImage2023-04-05at2.39.24PM.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 510px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 122px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 130px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 18px;
  }

  .u-section-7 .u-image-4 {
    min-height: 510px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 312px;
  }

  .u-section-7 .u-image-4 {
    min-height: 391px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1176px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 16px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 479px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 202px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 5px;
    margin-right: -2px;
    margin-left: 3px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 16px;
  }

  .u-section-7 .u-image-4 {
    min-height: 618px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 956px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 395px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-4 {
    min-height: 389px;
  }
} .u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/WhatsAppImage2023-04-05at2.39.25PM3.jpeg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 284px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0);
  margin: 55px 20px 0 0;
}

.u-section-8 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 30px 20px 40px 0;
  padding: 8px 27px 8px 26px;
}

.u-section-8 .u-icon-1 {
  font-size: 1.1429em;
  vertical-align: 0px;
  margin-right: 6px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 179px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 134px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 84px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }
}